<h1>I am an Enneagram Type 6: The Loyalist</h1>

<p>I'm Mel

<li> I am a <%=myClientType%>, I am good at staying on task and being detialed oriented, I am bad at taking risks</li></p>


<footer>
    <a href="/send">send</a>
    <a href="https://github.com/Mel-Hart-coder/mike-Lab/tree/main">link</a>
</footer>