<h1>I am an Enneagram Type 6: The Loyalist</h1>

<p>I\'m Barry

<li> I be <%=myClientType%>, good at mullet, bad at stop talk</li></p>


<footer>
    <a href="/send">send</a>
    <a href="https://github.com/Mel-Hart-coder/mike-Lab/tree/main">link</a>
</footer>